/* LESS Document */
/* 变量 */
.btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  color: #0C0 #006600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0px solid #cccccc;
}
.btn.blue {
  background: -webkit-linear-gradient(top, #0099ff, #0033ff);
  background: -moz-linear-gradient(top, #0099ff, #0033ff);
}
.btn.blue:hover {
  background: -webkit-linear-gradient(top, #0033ff, #0099ff);
  background: -moz-linear-gradient(top, #0033ff, #0099ff);
}
.btn.orange {
  background: -webkit-linear-gradient(top, #ff9900, #ff3300);
  background: -moz-linear-gradient(top, #ff9900, #ff3300);
}
.btn.orange:hover {
  background: -webkit-linear-gradient(top, #ff3300, #ff9900);
  background: -moz-linear-gradient(top, #ff3300, #ff9900);
}
.btn.green {
  background: -webkit-linear-gradient(top, #00cc00, #006600);
  background: -moz-linear-gradient(top, #00cc00, #006600);
}
.btn.green:hover {
  background: -webkit-linear-gradient(top, #006600, #00cc00);
  background: -moz-linear-gradient(top, #006600, #00cc00);
}
.btn.dis {
  display: inline-block;
  text-align: center;
}
